#root {
  width: min(600px, 100%);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

AddTask {
  margin-bottom: 20px;
  background-color: aqua;
}